---
import HomeSider from '@components/layout/HomeSider.astro';
import PostList from '@components/post/PostList.astro';
import Cover from '@components/ui/cover/Cover.astro';
import { CONTENT_PADDING, PAGINATION } from '@constants/layout';
import { seoConfig } from '@constants/site-config';
import Layout from '@layouts/Layout.astro';
import TwoColumnLayout from '@layouts/TwoColumnLayout.astro';
import { transformWPPost } from '@lib/content';
import { toPostCardDataList } from '@lib/content/transforms';
import type { PaginateFunction } from 'astro';
import Divider from '@/components/ui/divider';

const { page } = Astro.props;

const { pageSize } = PAGINATION;
const WP_URL = 'https://www.yuxh.cc';
const regularRes = await fetch(`${WP_URL}/wp-json/wp/v2/posts?sticky=false&page=${page}&per_page=${pageSize}&_embed`);
const postsData = await regularRes.json();

const rawRecords = Array.isArray(postsData) ? postsData : [];
const posts = rawRecords.map(transformWPPost);
---

<Layout title={seoConfig.title}>
  <TwoColumnLayout>
    <Cover slot="cover" />
    <HomeSider slot="sider" />
    <div
      class={`shadow-box bg-gradient-start tablet:shadow-none flex flex-col gap-4 overflow-hidden ${CONTENT_PADDING.standard}`}
    >
      <Divider>文章列表</Divider>
      <PostList posts={posts} page={page} />
    </div>
  </TwoColumnLayout>
</Layout>
